<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
    <h1 class="text-center"> Indoor Trees!</h1>
    <div>
        <img class=" text-center w-25 h-25"
            src="https://upload.wikimedia.org/wikipedia/commons/2/24/Pachira_aquatica2.jpg"
            alt="money tree img">
    <p>
        Guiana Chestnut thrives in more swamp-like situations similar to its original home in the South American wetlands. It can tolerate overwatering if there's good drainage, and appreciates bright, indirect light. You'll typically find it sold with a braided trunk under the name "money tree" due to its fortuitous associations in East Asia.
    </p>
    </div>

    <div>
        <img class=" text-center w-25 h-25"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Chamaedorea_elegans_02.jpg/800px-Chamaedorea_elegans_02.jpg"
            alt="parlor palm img">
    <p>
        If you need to breathe a little life into a dark dining room, here's your solution. Tried-and-true parlor palms can withstand sporadic watering and low-light conditions, including north-facing windows. Bonus: They're pet-friendly, the ASPCA confirms.
    </p>
    </div>

    <div>
        <img class=" text-center w-25 h-25"
            src="https://upload.wikimedia.org/wikipedia/commons/8/82/Araucaria_heterophylla_in_Qom.JPG"
            alt="Norfolk Island pine img">
    <p>
        Though they somewhat resemble Christmas trees, this tropical plant is not a true pine. It is a slow-growing tree with straight, verticual trunks and symmetrical branches withs much softer, more delicate needles. Indoors, this tree needs a bright, cool location.
    </p>
    </div>
    </div>
</body>

</html>