<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Hello, {{ request.session.first_name }} add appointment</h1>
                <a href="/logout" class="btn btn-primary">Logout</a>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ messages.tags}}" {% endif %}>{{ message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="/create_appointment" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="task">Task</label>
                        <input type="text" class="form-control" name="task">
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <textarea type='text' class="form-control" name="date" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <textarea type='text' class="form-control" name="status" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/dashboard" class="btn btn-primary">Cancel</a>

                </form>
            </div>